<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="AmqHosts" value="localhost"/>
    <add key="SampleInterval" value="0:00:01"/>
  </appSettings>
  <log4net>
    <!-- 
Rolling log file 
* Log is backed up after reaching 1MB
* Backup log files are called PF.QueueMonitor.log.N where N is 1 (newest)..10 (oldest)
* Default locking (ExclusiveLock) is used which is fastest - however this means the log file can't be deleted while the app is running
* Only DEBUG or higher severity messages are logged
    -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\AmqMonitor.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <rollingStyle value="Size" />
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} %-5level %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss.fff} %message%newline" />
      </layout>
      <mapping>
        <level>WARN</level>
        <foreColor>Yellow, HighIntensity</foreColor>
      </mapping>
      <mapping>
        <level>ERROR</level>
        <foreColor>Red, HighIntensity</foreColor>
      </mapping>
      <mapping>
        <level>FATAL</level>
        <foreColor>Yellow, HighIntensity</foreColor>
        <backColor>Red, HighIntensity</backColor>
      </mapping>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin>INFO</levelMin>
        <acceptOnMatch>true</acceptOnMatch>
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>